#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
    font-size: 20px;    
}
#custom-bootstrap-menu.navbar-default {
    font-size: 20px;
    text-align: center;
    padding-top:15px;
    padding-right:50px;
    background: #9FC9C8;    
    background-color: #000000;
    border-color: #000000;
    border-radius: 0px;
    padding-bottom: 15px;
    
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: #F5F8C6;
    background-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: #E2EB71;
    background-color: #000000;
    
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: #DBE465;
    background-color: #000000;
    background: #000000;
    
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: white;
    background-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color:white;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color:white;
    
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
.bttn{
    text-align: center;
    padding-top: 5vh;
    padding-right: 5vw;
    font-size: 20px;
    color:#3D018B;   
    border-color: #3D018B; 
    border-radius: 3px;

}
.box:hover{
    transition-duration: .2s;
    transform: scale(1.1); 
}

.background {
    background-image: url("../images/NYC-Skyline.jpg");
    height:60vh;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}